<div id="nav">
    <span class="navbar-text">
        <p>Welcome</p>
    </span>
    <span class="nav-container">
        <a href="/">Home </a>
        <a href="/posts">Posts page</a>
        <a href="/contactus">Contact us</a>
        <a href="/addnewpost">add a new post</a>
    </span>
    <span class="navbar-text">
        <p>user name</p>
        <p>0.69$</p>
    </span>
</div>