<div id="posts">
    <h2>All posts</h2>
    <ul>    
        <% if (posts.length> 0) { %>
            <% posts.forEach(post=> { %>
                <li>
                    <a class="singlepost" href="/singlepost/<%= post.id %>">
                        <span class="post-header">
                            <h3 class="title">
                                <%= post.title %>
                            </h3>
                        </span>
                        <p class="post-body">
                            <%= post.body %>
                        </p>
                        <span class="post-footer">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-Eu8UrGUJk30%2FVtz12biVykI%2FAAAAAAAALpw%2FF6fLIVaKwe0%2Fs1600%2Flike.png&f=1&nofb=1" onclick="likepost()"
                                height="40px">
                            <!-- <%= post.likes %> -->
                            <p class="likes">likes: </p>
                        </span>
                    </a>
                    <% }) %>
        <% } else { %>s
            <p>You did not post anything...</p>
        <% } %>
                </li>
    </ul>
</div>